<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>首页</title>
    <!--全局引入一些第三方JS,根据自己需求,自行配置-->
    <link th:href="${#request.getAttribute('staticPathPrefix')} + '/gar/css/gar-index.56ce009583dcc1efc7555d390deccca6.css'"
          rel="stylesheet">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var basePath = [[${basePath}]];
        /*]]>*/
    </script>
</head>
<body>
<div id="index"></div>
<!--这里不要写任何东西,重要的事情说三遍-->
<!--这里不要写任何东西,重要的事情说三遍-->
<!--这里不要写任何东西,重要的事情说三遍-->
<script type="text/javascript"
        th:src="${#request.getAttribute('staticPathPrefix')} + '/gar/js/runtime.256f094b9cc4bb363db5.js'"></script>
<script type="text/javascript"
        th:src="${#request.getAttribute('staticPathPrefix')} + '/gar/js/common.c9a8295cc20fd13f3999.js'"></script>
<script type="text/javascript"
        th:src="${#request.getAttribute('staticPathPrefix')} + '/gar/js/vendor.e3cc6118b23c6cc1a59b.js'"></script>
<script type="text/javascript"
        th:src="${#request.getAttribute('staticPathPrefix')} + '/gar/js/gar-index.1482601fed1c19087941.js'"></script>
</body>
</html>
